<!-- ko if: isDisplayed() -->
<div>
    <div class="assembly-title">
        <strong><span data-bind="i18n: 'Assembly Service'">Assembly Service</span></strong>
    </div>
    <div class="assembly-cms-block">
        <div><span data-bind="i18n: 'Assembly is charged per delivery. Cost at $30 per item, max charge $90 per delivery.'" /></div>
    </div>
    <div class="assembly-products">
        <!-- ko if: productList().length && statusAction() == 'selected' -->
        <div class="assembly-products_title">
            <strong><span data-bind="i18n: 'Items available for assembly'">Items available for assembly</span>:</strong>
        </div>
        <div class="assembly-products_list">
            <ul class="assembly-products" data-bind="foreach: productList">
                <li>
                    <input data-bind="checked: selected, attr: {id: 'product-' + id()}" type="checkbox">
                    <label data-bind="attr: {for: 'product-' + id()}"></label>
                    <img data-bind="attr: {src: image().src, alt: image().alt}" width="60" />
                    <span data-bind="text: name"></span>
                    <span>
                        <span data-bind="i18n: 'Qty'">Qty</span>:
                        <strong><span data-bind="text: qty"></span></strong>
                    </span>
                </li>
            </ul>
        </div>
        <!-- /ko -->
    </div>
    <!-- ko if: statusAction() != 'before_select' -->
    <div class="assembly-total">
        <span data-bind="i18n: 'Assembly Totals'">Assembly Totals</span>:
        <span data-bind="text: totalPrice()"></span>
    </div>
    <!-- /ko -->
    <div class="assembly-action">
        <!-- ko if: statusAction() == 'before_select' -->
        <button class="select" data-bind="i18n: 'Select', click: triggerAction.bind($data,'select')">Select</button>
        <!-- /ko -->
        <!-- ko if: statusAction() == 'selected' -->
        <button class="save" data-bind="i18n: 'Save', click: triggerAction.bind($data,'save')">Save</button>
        <button class="cancel" data-bind="i18n: 'Cancel', click: triggerAction.bind($data,'cancel')">Cancel</button>
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->